<section class="d-flex flex-column align-items-center">
  <div class="d-flex flex-wrap gap-3 mt-3 mb-3">
    <div class="file-select" id="src-file1">
      <input type="file" multiple (change)="displayImages($event)"  name="src-file1" aria-label="Archivo"/>
    </div>
    <button class="btn" (click)="cargar()">Cargar</button>
  </div>
  <!-- <div class="cimages d-flex">
    <img *ngFor="let file of imagesArray" [src]="getFileUrl(file)" alt="" />
  </div> -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="max-width: 300px;">
      <div class="carousel-inner" >
        <div class="carousel-item active" >
          <img src="./../../../assets/img/MemoryShootlogo.png" class="d-block w-100" alt="...">
        </div>
          <div class="carousel-item" *ngFor="let file of imagesArray">
            <img style="max-width: 300px;" [src]="getFileUrl(file)" class="d-block w-100" alt="...">
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</section>
