<section class="clogin d-flex justify-content-center align-items-center">
  <div class="row w-100 d-flex justify-content-between align-items-center px-4">
    <div class="col-lg-5 bg-image mt-5"></div>

    <div class="col-lg-5 mt-4 d-flex justify-content-center">
      <div class="ccardlogin mt-4 p-4 shadow-lg rounded w-100">
        <h2 class="ctituloslogin mt-4 mb-5 text-center">Registro</h2>
        <form (submit)="register()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input
              type="text"
              class="form-control"
              name="username"
              #username="ngModel"
              [(ngModel)]="userService.selectedUser.username"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Correo Electronico</label
            >
            <input
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              [(ngModel)]="userService.selectedUser.email"
              aria-describedby="emailHelp"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Telefono</label
            >
            <input
              type="number"
              class="form-control"
              name="phone"
              #phone="ngModel"
              [(ngModel)]="userService.selectedUser.phone"
            />
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              name="password"
              #password="ngModel"
              [(ngModel)]="userService.selectedUser.password"
            />
          </div>

          <div class="mb-3">
            <label class="form-label">Confirmar Contraseña</label>
            <p
              class="text-success"
              *ngIf="
                userService.selectedUser.password ===
                  userService.selectedUser.confirmPassword &&
                userService.selectedUser.password !== ''
              "
            >
              Las contraseñas coinciden
            </p>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              #confirmPassword="ngModel"
              [(ngModel)]="userService.selectedUser.confirmPassword"
            />
          </div>

          <div class="text-center mt-5">
            <button
              type="submit"
              class="btnlogin bg-purple-pastel text-white text-center"
            >
              Registrarme
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
