
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

  </head>
  <body>

    <footer class="footer-48201">
      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-md-5">
            <a href="#" class="footer-site-logo d-block mb-4">MemoryShoot</a>
            <p>La tienda en lina que no deja olvidar, que revive aquellas experiencias y hace que estas perduren en el tiempo.</p>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Acerca de nosotros</a></li>
              <li><a href="productos">Productos</a></li>
              <li><a href="contacto">Contacto</a></li>
            </ul>
          </div>
          <div class="col-md">
            <h5>Medios de pago</h5>
            <ul class="social list-unstyled d-flex flex-wrap gap-4 pt-2">
              <li><a  class="rounded-circle bg-light"><img src="./../../../assets/img/coins-solid.svg" alt="coins icon"></a></li>
              <li><a  class="rounded-circle bg-light"><img src="./../../../assets/img/credit-card-solid.svg" alt="Credit card icon"></a></li>

            </ul>
          </div>
          <div class="col-md text-md-center">
            <ul class="social list-unstyled d-flex flex-wrap gap-3 justify-content-center me-3">
              <li><a href="#" class="rounded-circle bg-light"><img src="./../../../assets/img/youtube-brands.svg" alt="youtube icon"></a></li>
              <li><a href="#" class="rounded-circle bg-light"><img src="./../../../assets/img/instagram-brands.svg" alt="Instagram icon"></a></li>
              <li><a href="#" class="rounded-circle bg-light"><img src="./../../../assets/img/facebook-f-brands.svg" alt="Facebook Icon"></a></li>
              <li><a href="#" class="rounded-circle bg-light"><img src="./../../../assets/img/twitter-brands.svg" alt="Twitter Icon"></a></li>
            </ul>
            <p class=""><a href="contacto" class="btn btn-tertiary">Contáctanos</a></p>
          </div>
        </div>

        <div class="row ">
          <div class="col-12 text-center">
            <div class="copyright mt-5 pt-5">
              <p><small>&copy; 2022-2023 Todos los derechos reservados.</small></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
