<section class="main-container mt-5 mb-5">
  <section class="title-container">
    <h1>¿Tienes alguna pregunta?</h1>
  </section>
  <section class="form-main-custom d-flex flex-wrap justify-content-center gap-5 mt-5">
    <div class="image-container">
      <img  src="./../../../assets/img/contact-us-ilustration.jpg" alt="Imagen de contacto">
    </div>
    <div class="form-container">
      <h3>Contacto</h3>
      <form>
        <div class="mb-3">
          <input type="text" name="name" class="form-control custom-form-input" id="nameInput" aria-describedby="nameHelp" placeholder="Nombre">
        </div>
        <div class="mb-3">
          <input type="email" name="email" class="form-control custom-form-input" id="emailInput" aria-describedby="emailHelp" placeholder="Correo electronico">
          <div id="emailInput" class="form-text">Nunca compartiremos tu email.</div>
        </div>
        <div class="mb-3">
          <textarea type="text" class="form-control custom-form-input" id="textInput" name="text" required placeholder="Mensaje"></textarea>
        </div>
        <div class="button-class d-flex justify-content-center">
          <button type="submit" class="btn btn-primary custom-button">Enviar</button>
        </div>
      </form>
    </div>
  </section>
  <section class="main-accordion-section mt-5">
    <section class="title-container">
      <h1>Preguntas frecuentes</h1>
    </section>
    <div class="accordion-container">
      <div class="accordion accordion-flush " id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed border-style" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              ¿Como comprar?
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Para comprar es muy fácil, sólo debes registrarte, ir a productos, elegir el de tu preferencia y recibelo en casa</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              ¿Como contacto a un asesor?
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Tienes dos formas: 1. Llena el formulario que tienes arriba, uno de nuestros asesores te contactara en breve. 2. Sólo baja un poco y econtrarás los demás canales de comunicación que tenemos para ti.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Garantía
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Nuestros productos tienen garantía de 30 días por descolorización o defectos de fábrica. Si quieres pedir tu garantía porfavor contacta un asesor o dejanos un mensaje en el formulario. Te contactaremos según disponibilidad.</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-other-contact mt-5 mb-5">
    <section class="title-container mb-5">
      <h1>Redes sociales</h1>
    </section>
    <div class="other-contact-container gap-3">
      <div class="child-other-contact-container">
        <img src="./../../../assets/img/facebook-icon.png" alt="Facebook Icon">
        <h2>Facebook</h2>
        <a href="#"><button>Ir a Facebook</button></a>
      </div>
      <div class="child-other-contact-container">
        <img src="./../../../assets/img/whatsapp-icon.png" alt="whatsapp icon">
        <h2>Whatsapp</h2>
        <a href="#"><button>Ir a Whatsapp</button></a>
      </div>
      <div class="child-other-contact-container">
        <img src="./../../../assets/img/phone-call-icon.png" alt="Phone call Icon">
        <h2>Llamanos</h2>
        <a href="tel:+573135325845"><button>Llamar</button></a>
      </div>
    </div>
  </section>

</section>
