<section class="csectionus d-flex column">
  <div class="ccontainerus col-lg-12 w-100" incluye todos los componentes>
    <!-- Quienes somos -->
    <div class="cus d-flex justify-content-center align-items-center p-5">
      <h3 class="custitle">NOSOTROS</h3>
      <P class="ctext mt-4"
        >Todos queremos guardar momentos únicos, momentos que llenan nuestra
        vida de satisfacción, además que nos gusta tener un detalle con las
        personas más cercanas, por eso en MemoryShoot queremos darte una
        solución para esto.
      </P>
      <p class="ctext">
        Por medio de la fotografía podemos plasmar emociones y momentos
        importantes, logrando así preservarlos por largos periodos de tiempo,
        aqui podras encontrar diferentes formas de hacerlo, desde un albúm, un
        calendario, una camiseta o simplemente imprimirlas.
      </p>
    </div>
    <!--contenedor de mision y vision-->
    <div class="ccontainermiyvi row d-flex">
      <!-- misión -->
      <div
        class="cmision col-lg-6 d-flex justify-content-center align-items-center p-5"
      >
        <h3 class="custitle">MISION</h3>
        <p class="ctext mt-4">
          Somos una empresa del sector fotográfico y de impresiones, orientada
          en la impresión y estampación de prendas. Nuestra acción en la
          superación de las exigencias y necesidades de nuestros clientes, la
          gestión eficiente de la calidad, el mejoramiento continuo de los
          procesos.
        </p>
      </div>
      <!-- visión -->
      <div
        class="cvision col-lg-6 d-flex justify-content-center align-items-center p-5"
      >
        <h3 class="custitle">VISION</h3>
        <p class="ctext mt-4">
          Memory Shoot será modelo latinoamericano en el sector de la impresión
          y la estampación, caracterizándose por los siguientes valores
          agregados:
        </p>
        <p class="ctext">
          Para sus Clientes: Innovación, respuesta rápida y calidad en el
          servicio.
        </p>
        <p class="ctext">Para sus Trabajadores: Crecimiento Integral.</p>
        <p class="ctext">Para su entorno: Respeto por el medio ambiente.</p>
        <p class="ctext">Para sus Socios: Rentabilidad de su inversión.</p>
      </div>
    </div>
    <!-- Equipo -->
    <div
      class="cteam w-100 col-lg-12 d-flex justify-content-evenly align-items-center p-4"
    >
      <h3 class="custitle">NUESTRO EQUIPO</h3>
      <!-- container team -->
      <div class="ccontainerteam d-flex align-items-around mt-4">
        <!-- Scrum -->
        <div class="cpersont col-lg-3 py-4">
          <div class="d-flex justify-content-center">
            <img
              class="cimgt"
              src="../../../assets/img/darwing.jpeg"
              alt="Darwing"
            />
          </div>
          <div class="ctextot p-4">
            <h4 class="">Darwing Sanchez</h4>
            <h5>Scrum Master y Desarrollador</h5>
          </div>
        </div>

        <!-- Product Owner -->
        <div class="cpersont col-lg-3 py-4">
          <div class="d-flex justify-content-center">
            <img
              class="cimgt"
              src="../../../assets/img/carolina.jpeg"
              alt="Darwing"
            />
          </div>
          <div class="ctextot p-4">
            <h4>Carolina Gutiérrez</h4>
            <h5>Product Owner y desarrollador</h5>
          </div>
        </div>
        <!-- Desarrolladora -->
        <div class="cpersont col-lg-3 py-4">
          <div class="d-flex justify-content-center">
            <img
              class="cimgt w-20 d-flex"
              src="../../../assets/img/juliana.jpeg"
              alt="Juliana"
            />
          </div>
          <div class="ctextot p-4">
            <h4>Juliana Lopez</h4>
            <h5>Desarrolladora</h5>
          </div>
        </div>
        <!-- Desarrollador -->
        <div class="cpersont col-lg-3 py-4">
          <div class="d-flex justify-content-center">
            <img
              class="cimgt w-20"
              src="../../../assets/img/duvan.jpeg"
              alt="Duvan"
            />
          </div>
          <div class="ctextot p-4">
            <h4>Duvan Morales</h4>
            <h5>Desarrollador</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
