<section
  class="csprofile d-flex justify-content-evenly align-items-center pt-3"
>
  <div class="csectionclient d-flex justify-content-evenly align-items-evenly">
    <div class="ccontainerinput d-flex align-items-center px-4">
      <div class="ccontainerimg">
        <img
          class="w-100"
          *ngIf="user"
          src="{{ url_api + userService.selectedUser.image }}"
          alt=""
        />
        <img class="csecondimg" [src]="sanitize(imageUrl)" alt="" />
      </div>

      <div
        class="cusuario w-100 d-flex justify-content-center align-items-center"
      >
        <div><h5 class="ctituloinput mt-2">Cambiar imagen de perfil</h5></div>
        <div class="d-flex justify-content-center align-items-center">
          <input
            class="cselectimg w-100"
            id="nuestroinput"
            (change)="capturarFile($event)"
            type="file"
            accept=".png,.jpg,.jpeg,.gif"
          />
        </div>
        <div>
          <button class="btn cbtnclient2" (click)="uploadImage()">
            Guardar
          </button>
        </div>
      </div>
    </div>
    <div class="row col-lg-5 w-50">
      <h3 class="">Hola!</h3>
      <p class="cdatosc">Nombre: {{userService.selectedUser.username}}</p>
      <p class="cdatos" c>E-mail: {{userService.selectedUser.email}}</p>
      <p class="cdatos">Telefono: {{userService.selectedUser.phone}}</p>
      <div class="d-flex justify-content-around align-items-between">
        <a href="home"><button class="chomeclient">Home</button></a>
        <a href="productos"><button class="cproductsclient">Productos</button></a>
      </div>
    </div>
  </div>
  <div>
    <table class="table row p-5 d-flex justify-content-center">
      <thead>
        <tr class="d-flex justify-content-between">
          <th scope="col">#</th>
          <th scope="col">Producto</th>
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex justify-content-between">
          <th class="cnumber" scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
