<app-nav-bar></app-nav-bar>
<div class="fondo">
  <div class="container">
    <div>
      <label for="exampleInputEmail1" class="form-label"
        >Elige el material</label
      >
    </div>
    <div class="d-flex d-wrap align-items-center">
      <div class="input-group">
        <select
          [(ngModel)]="tipoMaterial"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected></option>
          <option value="35000">Madera</option>
          <option value="30000">Plástico</option>
          <option value="25000">Cartón</option>
        </select>
        <span class="input-group-text">{{
          tipoMaterial | currency: "$":"symbol":"4.0-0"
        }}</span>
      </div>
    </div>

    <label for="exampleInputEmail1" class="form-label"
    >Cuantas fotos quieres en tu calendario?</label
  >
  <div class="input-group">
    <input
      [(ngModel)]="numeroFotosCalendar"
      type="text"
      mask="99"
      class="form-control"
      aria-label="Album"
      height="20"
    />
    <span class="input-group-text">{{
      costoFotosCalendar() | currency: "$":"symbol":"4.0-0"
    }}</span>
  </div>
  <span *ngIf="numeroFotosCalendar > 30" class="text-danger">El numero de fotos no puede ser mayor a 30.</span>

  <div class="d-flex flex-column">
    <label for="exampleInputEmail1" class="form-label">Elige tu diseño</label>
    <div class="input-group justify-content-center">
      <select
        [(ngModel)]="imagenDesignCalendar"
        class="form-select"
        aria-label="Default select example"
      >
        <option selected [ngValue]="{}"></option>
        <option
          [ngValue]="{
            url: '../assets/img/Calendar-imagen1.jpg',
            precio: 40000
          }"
        >
          libro Calendar
        </option>
        <option
          [ngValue]="{ url: '../assets/img/calendar-imagen2.png', precio: 55000 }"
        >
          Piramide Calendar
        </option>
        <option
          [ngValue]="{
            url: '../assets/img/calendar-imagen3.jpg',
            precio: 60000
          }"
        >
          Poster Calendar
        </option>
      </select>

      <span class="input-group-text">{{
        imagenDesignCalendar.precio | currency: "$":"symbol":"4.0-0"
      }}</span>
    </div>
    <div class="images col-auto d-flex justify-content-center">
      <img [src]="imagenDesignCalendar.url" alt="" />
    </div>
    <label for="exampleInputEmail1" class="form-label">Subtotal</label>
    <div class="input-group d-flex justify-content-center">
      <span class="input-group-text">{{
        subtotal() | currency: "$":"symbol":"4.0-0"
      }}</span>
    </div>
  </div>
  <button (click)="createOrder()">compra YA!</button>
</div>