<section class="main-section mt-5 mb-5 p-3 justify-content-center">
  <div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img/product1-picture.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Fotos</h2>
        <p>Precio desde: <span><h4>{{ price1 | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Revive una experiencia</h4></span>
          En MemoryShoot podrás imprimir hasta 100 fotos y se 
          te entregaran en la puerta de tu casa.
        </p>
        <div class="d-flex justify-content-center">
          <a href="fotos"><button class="btn">¡Lo quiero!</button></a>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img/product2-album.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Albúm</h2>
        <p>Precio desde: <span><h4>{{ price2 | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Colecciona tus recuerdos</h4></span>
          En MemoryShoot podrás elegir tu diseño y el material de tu prefrencia 
          para que tu album guarde tus mejores momentos. 
        </p>
        <div class="d-flex justify-content-center">
          <a href="calculadora-album"><button class="btn">¡Lo quiero!</button></a>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img//product3-tshirt.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Camiseta</h2>
        <p>Precio desde: <span><h4>{{ price3 | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Estampa tus ideas</h4></span>
          En MemoryShoot poseemos una firme experiencia en los estampados de las camisetas, 
          podrás llevar tus ideas o recuerdos en todo momento.  
        </p>
        <div class="d-flex justify-content-center">
          <a href="calculadora-camiseta"><button class="btn">¡Lo quiero!</button></a>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img/product4-calendar.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Calendario</h2>
        <p>Precio desde: <span><h4>{{ price4 | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Ponle fecha a tus recuerdos</h4></span>
          En MemoryShoot encuentras la forma de mantenerte al dia, con tu calendario personalizado.
        </p>
        <div class="d-flex justify-content-center">
          <a href="calculadora-calendario"><button class="btn">¡Lo quiero!</button></a>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
  </div>
</section>
