<section class="main-section mt-5 mb-5 p-3 justify-content-center">
  <div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img/product1-picture.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Product title</h2>
        <p>Price: <span><h4>{{ price | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Descrption title</h4></span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex,
          natus aliquam nihil porro asperiores est culpa velit voluptates animi
          maxime a, ipsam fuga magni in. Molestiae sit voluptas temporibus.
          Deserunt autem voluptatum modi eum ipsam provident delectus quis,
          facilis magnam, veniam, porro ab consequatur magni libero reprehenderit
          enim nemo tempora dolor adipisci! Consectetur repellendus quisquam a
          laborum quos totam.
        </p>
        <div class="d-flex justify-content-center">
          <button class="btn">¡Lo quiero!</button>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img/product2-album.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Product title</h2>
        <p>Price: <span><h4>{{ price | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Descrption title</h4></span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex,
          natus aliquam nihil porro asperiores est culpa velit voluptates animi
          maxime a, ipsam fuga magni in. Molestiae sit voluptas temporibus.
          Deserunt autem voluptatum modi eum ipsam provident delectus quis,
          facilis magnam, veniam, porro ab consequatur magni libero reprehenderit
          enim nemo tempora dolor adipisci! Consectetur repellendus quisquam a
          laborum quos totam.
        </p>
        <div class="d-flex justify-content-center">
          <button class="btn">¡Lo quiero!</button>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img//product3-tshirt.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Product title</h2>
        <p>Price: <span><h4>{{ price | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Descrption title</h4></span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex,
          natus aliquam nihil porro asperiores est culpa velit voluptates animi
          maxime a, ipsam fuga magni in. Molestiae sit voluptas temporibus.
          Deserunt autem voluptatum modi eum ipsam provident delectus quis,
          facilis magnam, veniam, porro ab consequatur magni libero reprehenderit
          enim nemo tempora dolor adipisci! Consectetur repellendus quisquam a
          laborum quos totam.
        </p>
        <div class="d-flex justify-content-center">
          <button class="btn">¡Lo quiero!</button>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
    <!-- Product -->
    <section class="product-container d-flex flex-wrap gap-5 justify-content-center">
      <!-- Product img -->
      <div class="img-slide-container">
        <img class="img" src="./../../../assets/img/product4-calendar.jpg" alt="Imagen impresa describe producto 1">
      </div>
      <!-- Product info -->
      <div class="product-info-container">
        <h2>Product title</h2>
        <p>Price: <span><h4>{{ price | currency: 'COP'}}</h4></span></p>
        <p>
          <span><h4>Descrption title</h4></span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis ex,
          natus aliquam nihil porro asperiores est culpa velit voluptates animi
          maxime a, ipsam fuga magni in. Molestiae sit voluptas temporibus.
          Deserunt autem voluptatum modi eum ipsam provident delectus quis,
          facilis magnam, veniam, porro ab consequatur magni libero reprehenderit
          enim nemo tempora dolor adipisci! Consectetur repellendus quisquam a
          laborum quos totam.
        </p>
        <div class="d-flex justify-content-center">
          <button class="btn">¡Lo quiero!</button>
        </div>
      </div>
    </section>
    <div class="line-container"><hr class="line"></div>
  </div>
</section>
