.main-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-container{
  justify-content: center;
}
.img-slide-container img{
  min-width: 290px;
  max-width: 250px;
  border-radius: 15px;
}
.product-info-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
}
/* From cssbuttons.io by @Mike11jr */
.btn {
  width: 200px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all .4s;
 }

 .btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #f85959,
   0 15px 0 -4px #39a2db,
   0 16px 10px -3px #39a2db;
 }

 .btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #f85959,
   0 8px 0 -4px #39a2db,
   0 12px 10px -3px #39a2db;
 }
.line-container{
  margin-top: 20px;
  margin-bottom: 20px;
}
 .line{
    max-width: 830px;
    margin: 0 auto;
 }
