<div
  class="ccontlogos container d-flex justify-content-around align-items-center px-4 py-2"
>
  <h4 class="medios navbar-brand">Métodos de Pago</h4>

  <div class="clogos2 d-flex align-items-center">
    <div>
      <h6 class="ctitulos">Efectivo</h6>
      <img
        class="clogos mx-3"
        src="./../../../assets/img/efectivo.png"
        alt="logo-pago-en-efectivo"
      />
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h6 class="ctitulos">Tarjeta débito o crédito</h6>
      <img
        class="clogos"
        src="./../../../assets/img/tarjetas2.png"
        alt="logo_payu"
      />
    </div>
  </div>
</div>
