<section>
  <!-- Carito Seccion 4 -->
  <!-- Carousel desk-->
  <div
    id="carouselExampleInterval"
    class="ccarousel1 carousel slide"
    data-mdb-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard1">
            <img
              src="assets/img/andrea_moreno.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Andrea Moreno
              </h5>
              <p class="card-text mt-2">
                Me encanto esta pagina, además que es facil de usar ofrece
                diferentes productos; por mi parte quede muy contenta con mi
                calendario personalizado; además la entrega fue cumplida .
              </p>
            </div>
          </div>

          <div class="ccard1">
            <img
              src="assets/img/camilo_salazar.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Camilo Salazar
              </h5>
              <p class="card-text mt-2">
                Tienen una gran variedad de productos, lo que nos permite a
                nosotros tener de donde escoger y asi poder regalar algo con
                mucho cariño y mucha originalidad.
              </p>
            </div>
          </div>

          <div class="ccard1">
            <img
              src="assets/img/antonia_correal.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro4.png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Antonia Correal
              </h5>
              <p class="card-text mt-2">
                Me gusto mucho el album, la distribución de las fotos estaba tal
                cual lo queria; sin embargo se presentaron algunas dificultades
                en la entrega del producto, por lo que tuve que esperar un poco
                más.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard2">
            <img
              src="assets/img/gabriel_tellez.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Gabriel Tellez
              </h5>
              <p class="card-text mt-2">
                Productos de excelente calidad, he impreso varios productos con
                ustedes y siempre he tenido buenos resultados.
              </p>
            </div>
          </div>

          <div class="ccard2">
            <img
              src="assets/img/paola_gomez.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Maria Castañeda
              </h5>
              <p class="card-text mt-2">
                El producto que más me gusta es el calendario, lo use para dar
                un regalo a mi familia y me parecio que es un regalo muy
                original.
              </p>
            </div>
          </div>

          <div class="ccard2">
            <img
              src="assets/img/juan_pedraza.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Juan Pedraza
              </h5>
              <p class="card-text mt-2">
                Los mugs y los llaveros quedaron hermosos! Muchas gracias por
                plasmar mis ideas en productos tan lindos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      data-bs-target="#carouselExampleInterval"
      type="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      data-bs-target="#carouselExampleInterval"
      type="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--Carousel mobile-->
  <div
    id="carouselExampleInterval2"
    class="ccarousel2 carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard1">
            <img
              src="assets/img/andrea_moreno.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Andrea Moreno
              </h5>
              <p class="card-text mt-2">
                Me encanto esta pagina, además que es facil de usar ofrece
                diferentes productos; por mi parte quede muy contenta con mi
                calendario personalizado; además la entrega fue cumplida .
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard1">
            <img
              src="assets/img/camilo_salazar.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Camilo Salazar
              </h5>
              <p class="card-text mt-2">
                Tienen una gran variedad de productos, lo que nos permite a
                nosotros tener de donde escoger y asi poder regalar algo con
                mucho cariño y mucha originalidad.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard1">
            <img
              src="assets/img/antonia_correal.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro4.png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Antonia Correal
              </h5>
              <p class="card-text mt-2">
                Me gusto mucho el album, la distribución de las fotos estaba tal
                cual lo queria; sin embargo se presentaron algunas dificultades
                en la entrega del producto, por lo que tuve que esperar un poco
                más.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard2">
            <img
              src="assets/img/gabriel_tellez.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Gabriel Tellez
              </h5>
              <p class="card-text mt-2">
                Productos de excelente calidad, he impreso varios productos con
                ustedes y siempre he tenido buenos resultados.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard2">
            <img
              src="assets/img/paola_gomez.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Maria Castañeda
              </h5>
              <p class="card-text mt-2">
                El producto que más me gusta es el calendario, lo use para dar
                un regalo a mi familia y me parecio que es un regalo muy
                original.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item" data-mdb-interval="8000">
        <div class="d-flex justify-content-around">
          <div class="ccard2">
            <img
              src="assets/img/juan_pedraza.jfif"
              class="card-img-top"
              alt="Fissure in Sandstone"
            />
            <div class="d-flex justify-content-center mt-3">
              <img class="cimg" src="assets/img/caro5 (1).png" alt="" />
            </div>
            <div class="card-body d-flex justify-content-center flex-column">
              <h5 class="card-title d-flex justify-content-center">
                Juan Pedraza
              </h5>
              <p class="card-text mt-2">
                Los mugs y los llaveros quedaron hermosos! Muchas gracias por
                plasmar mis ideas en productos tan lindos.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      data-bs-target="#carouselExampleInterval2"
      type="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      data-bs-target="#carouselExampleInterval2"
      type="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
