<nav class="navbar navbar-expand-lg navbar-light bg-nav-custom fixed-top">
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand me-2 ps-4" href="https://mdbgo.com/">
        <img
          src="assets/img/MemoryShootlogo.png"
          height="60"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px"
        />
      </a>
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            PRODUCTOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Albumes</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Calendario</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Impresión de fotos</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Camisetas</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            CONTACTANOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Foto Tiras</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Collage poster</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Foto Postales</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            QUIENES SOMOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Información de la Empresa</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Ubicación de la Empresa</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-light px-3 me-2">Log in</button>
      <button type="button" class="btn btn-info me-3">Sign up</button>
    </div>
  </div>
</nav>
