<nav class="navbar navbar-expand-lg navbar-light bg-nav-custom fixed-top">
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars">Menu</i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand me-2 ps-4" href="home">
        <img
          src="assets/img/MemoryShootlogo.png"
          height="60"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px"
        />
      </a>
      <ul class="navbar-nav">
        <!-- Dropdown -->
        <li class="nav-item">
          <a
            class="nav-link"
            href="productos"
          >
            PRODUCTOS
          </a>

        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="contacto"
          >
            CONTACTANOS
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="nosotros"
          >
            QUIENES SOMOS
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="!userService.loggedIn() else sesionIniciada"class="d-flex align-items-center">
      <a href="login"><button type="button" class="btn btn-light px-3 me-2">Log in</button></a>
      <a href="register"><button type="button" class="btn btn-info me-3">Sign up</button></a>
    </div>
    <ng-template #sesionIniciada >
      <div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="home">Home</a></li>
            <li><a class="dropdown-item" href="client">Perfil</a></li>
            <button (click)="logOut()" >Cerrar Sesión</button>
          </ul>
        </div>
      </div>
    </ng-template>
  </div>
</nav>
