<section class="clogin d-flex justify-content-center align-items-center">
  <div class="row w-100 d-flex justify-content-between px-4">
    <div class="col-lg-5 bg-image mt-5"></div>

    <div class="col-lg-5 mt-4 d-flex justify-content-center">
      <div class="ccardlogin mt-4 p-4 shadow-lg rounded w-75">
        <h2 class="ctituloslogin mt-4 mb-5 text-center">Iniciar Sesión</h2>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Correo Electrónico</label
            >
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Contraseña</label
            >
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>

          <button type="submit" class="btnlogin text-white py-1 px-2 mt-5">
            Iniciar Sesión
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
