.fondo {
    background-image: url("../../../assets/img/background_fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
    font-size: 20px;
}
.container {
    padding-block-start: 100px;
    justify-content: center;
    width: 500px; 
}
.input-group-text {
    border-width: 2px 2px 2px 2px;
    border-color: black;
    background-color: #d3cadd;
}
.input-group {
    border-width: 2px 2px 2px 2px;
    border-color: black;
}
