<section class="s-section3">
  <!-- Inicio Section 3 -->
    <section class="s-w-info-container">
        <img src="./../../../assets/img/model2-section3.png" alt="">
    </section>
    <section class="s-w-steps-container">
      <h2>Recibe tu producto en 3 pasos</h2>
      <div class="s-w-step">
        <img src="./../../../assets/img/one.png" alt="">
        <h3>Sube tu archivo</h3>
      </div>
      <div class="s-w-step">
        <img src="./../../../assets/img/two.png" alt="">
        <h3>Elige tu diseño</h3>
      </div>
      <div class="s-w-step">
        <img src="./../../../assets/img/three.png" alt="">
        <h3>Recíbelo en casa</h3>
      </div>
    </section>
</section>
