<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/Albumimagen4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content-container">
          <div class="content d-flex justify-content-center ">
            <div
              class="form-1 align-self-center card text-center bg-light bg-opacity-25 ">
              <div class="card-header">
                <h5>Diseña tu propio Albúm online</h5>
              </div>
              <div class="card-body">
                <ul class="card-textJuli text-align">
                  <li>1. Escoge tu portada</li>
                  <li>2. Selecciona el número de fotos</li>
                  <li>4. Selecciona tu diseño</li>
                  <li>6. Adjunta tus fotos</li>
                </ul>
                <a href="#" routerLink="/calculadora-album" class="btn btn-light">Crear</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/calendarioslide2.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content-container">
          <div class="content d-flex justify-content-center ">
            <div
              class="form-1 align-self-center card text-center bg-light bg-opacity-25 ">
              <div class="card-header">
                <h5>Diseña tu propio calendario online</h5>
              </div>
              <div class="card-body">
                <ul class="card-textJuli text-align">
                  <li>1. Escoge el material</li>
                  <li>2. Elige el número de fotos</li>
                  <li>4. Elige tu diseño</li>
                  <li>6. Adjunta tus fotos</li>
                </ul>
                <a href="#" routerLink="/calculadora-calendario" class="btn btn-light">Crear</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/CamisetaSlide.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content-container">
          <div class="content d-flex justify-content-center ">
            <div
              class="form-1 align-self-center card text-center bg-light bg-opacity-25 ">
              <div class="card-header">
                <h5>Diseña tu propia camiseta online</h5>
              </div>
              <div class="card-body">
                <ul class="card-textJuli text-align">
                  <li>1. Elige el tipo de camiseta</li>
                  <li>2. Elige el numero de fotos </li>
                  <li>3. Adjunta tus fotos</li>  
                </ul>
                <a href="#" routerLink="/calculadora-camiseta" class="btn btn-light">Crear</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/Albumimagen5.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content-container">
          <div class="content d-flex justify-content-center ">
            <div
              class="form-1 align-self-center card text-center bg-light bg-opacity-25 ">
              <div class="card-header">
                <h5>Imprime tus fotos</h5>
              </div>
              <div class="card-body">
                <ul class="card-textJuli text-align">
                  <li>1. Elige el número de fotos</li>
                </ul>
                <a href="#" routerLink="/fotos" class="btn btn-light">Crear</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>